* {
  margin: 0px;
  padding: 0px;
  font-family: 'Nunito', sans-serif;

}

body, html {
  background-color: #C4F3EA;

}

  table {
 margin-left:auto;
 margin-right:auto;
 border-radius:15px;
  }
  
  td, th {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    width:200px;
    word-break: break-word;
    overflow-x:auto;
    font-family: 'Nunito', sans-serif;
    background: white;
    padding: 15px;
  }
  
  tr {
    width:50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius:15px;
  }

.remove:hover {
 
  font-weight: bolder;
}

  
